include ../../components/header/header.pug
include ../../components/banner/banner.pug
include ../../components/targets/targets.pug
include ../../components/clients/clients.pug
include ../../components/advantages/advantages.pug
include ../../components/price/price.pug
include ../../components/our-clients/our-clients.pug
include ../../components/footer/footer.pug

html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Dostavka.io
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto+Slab:400,700&display=swap&subset=cyrillic" rel="stylesheet")
  body
    +header()
    +banner()
    +targets()
    +clients()
    +advantages()
    +price()
    +our-clients()
    +footer()
    