mixin plan()
  .plan
    .wrapper
      h2
        span.plan__title Как это работает?
      p.plan__description Три базовых действия в системе:
      ul.plan__steps
        li.step
          .step__number(data-progress='1')
          .step__description Загружаю свои перевозки в dostavka.io через простой интерфейс.
        li.step
          .step__number(data-progress='2')
          .step__description Когда водитель попадает в геолокацию контрольной точки, например, место загрузки или выгрузки, он нажимает «Я приехал» на своем смартфоне. Я вижу это в реальном времени.
        li.step
          .step__number(data-progress='3')
          .step__description По окончании грузовых операций точка загрузки или доставки нажимает «Убытие», и я вижу, что грузовик отпущен, а дополнительно к этому вижу оценку качества доставленного груза с фотографиями.