mixin our-clients()
  section.our-clients
    .wrapper
      h2
        span.our-clients__title Наши клиенты
      ul.our-clients
        li.our-client
          img(src=require('../../assets/our-client-1.png'), alt="Our-client")