.our-clients {
  background-color: #F5F6F8;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    padding-top: 53px;
    padding-bottom: 62px;
  }

  .our-client {
    img {
      width: 170px;
      height: 115px;
      object-fit: cover;
    }
  }

  &__title {
    position: relative;
    display: block;
    width: max-content;
    margin: 0 auto 82px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #0A1D42;

    &::after {
      content: '';
      position: absolute;
      bottom: -21px;
      left: 88px;
      width: 80px;
      height: 3px;
      background: #832FA5;
    }
  }
}

@media screen and (max-width: 1169px) {
  .our-clients {
    .wrapper {
      width: 360px;
      padding-top: 21px;
      padding-bottom: 22px;
    }

    &__title {
      width: 320px;
      margin: 0 auto 50px;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;

      &::after {
        bottom: -10px;
        left: 117px;
      }
    }

    &__list {
      flex-direction: column;
      height: unset;
    }
  }
}
