.advantages {
  .wrapper {
    width: 1170px;
    margin: 0 auto;
    padding-top: 47px;
  }

  &__title {
    position: relative;
    display: block;
    width: max-content;
    margin: 0 auto 82px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #0A1D42;

    &::after {
      content: '';
      position: absolute;
      bottom: -21px;
      left: 165px;
      width: 80px;
      height: 3px;
      background: #832FA5;
    }
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 260px;
    margin-bottom: 30px;
    border: 1px solid rgba(21, 47, 95, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }

  .advantage__icon {
    margin-bottom: 35px;
  }

  .advantage__description {
    width: 307px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135.18%;
    text-align: center;
    color: #0A1D42;
  }
}

@media screen and (max-width: 1169px) {
  .advantages {
    .wrapper {
      width: 360px;
    }

    &__list {
      flex-direction: column;
      align-items: center;
      height: unset;
    }

    .advantage {
      width: 320px;
      margin-bottom: 22px;
    }

    &__title {
      width: 320px;
      margin: 0 auto 50px;
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      text-align: center;

      &::after {
        bottom: -10px;
        left: 117px;
      }
    }
  }
}

