.clients {
  background-color: #F5F6F8;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    padding: 58px 0 55px;
  }

  &__title {
    position: relative;
    display: block;
    margin-bottom: 82px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #0A1D42;

    &::after {
      content: '';
      position: absolute;
      bottom: -21px;
      left: 165px;
      width: 80px;
      height: 3px;
      background: #832FA5;
    }
  }

  .client {
    display: flex;
    align-items: center;
    width: 970px;
    margin-bottom: 8px;
    padding: 33px 37px 33px 56px;
    background-color: white;
    cursor: pointer;
  }

  .client__advantages {
    display: none;

    li {
      position: relative;
      margin-bottom: 20px;
      padding-left: 29px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 125.68%;
      color: #0A1D42;

      &::before {
        content: '';
        position: absolute;
        top: 9px;
        left: 0;
        width: 16px;
        height: 2px;
        background: #0A1D42;
      }
    }
  }

  .client__icon {
    margin-right: 94px;
  }

  .client__name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 135.18%;
    color: #0A1D42;
  }

  .client__chevron {
    margin-left: auto;

    svg {
      transition: .3s ease-in-out;
    }
  }

  .client.is-expanded {
    align-items: flex-start;

    .client__name {
      margin-top: 17px;
      margin-bottom: 32px;
    }

    .client__advantages {
      display: block;
    }

    .client__chevron {
      margin-top: 15px;

      svg {
        transform: rotate(90deg);
      }
    }
  }

  &__connect-for-free {
    margin-top: 40px;
  }
}
