include ../../components/button/button.pug

mixin callback-form()
  .callback-form.hidden.js-callback-form-popup
    .callback-form__form
      form.form.js-callback-form
        .form__header
          .fix-block
          .form__tip Заполните форму
          button.form__close.js-callback-form-close
            svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
              rect(x='0.0117188', y='1.29932', width='1.81728', height='16.6874', transform='rotate(-45 0.0117188 1.29932)', fill='#C4C4C4')
              rect(width='1.85266', height='16.6647', transform='matrix(0.707107 0.707107 0.707107 -0.707107 0 11.7837)', fill='#C4C4C4')
        .form__title Заказать звонок
        .form__field
          input(type="text" placeholder="Ваше имя*")
        .form__field.is-error
          input(type="text" placeholder="Ваш телефон*")
        .form__agreement
          .agreement
            .agreement__checkbox.is-checked.js-agreement-checkbox
              svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg').unchecked
                rect(opacity='0.2', x='0.5', y='0.5', width='15', height='15', rx='1.5', stroke='#111642')
              svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg').checked
                rect(opacity='0.2', x='0.5', y='0.5', width='15', height='15', rx='1.5', stroke='#111642')
                rect(x='5.13745', y='11.3755', width='9.88379', height='1.23547', rx='0.617737', transform='rotate(-45 5.13745 11.3755)', fill='#832FA5')
                rect(x='3.38855', y='7.88086', width='4.94189', height='1.23547', rx='0.617737', transform='rotate(45 3.38855 7.88086)', fill='#832FA5')
            .agreement__description Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных
        +button('Отправить')