.targets {
  .wrapper {
    width: 1170px;
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 40px;
  }

  &__title {
    position: relative;
    width: max-content;
    margin: 0 auto 81px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #0A1D42;

    &::after {
      content: '';
      position: absolute;
      bottom: -21px;
      left: 165px;
      width: 80px;
      height: 3px;
      background: #832FA5;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .target {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .target__text {
    width: 268px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 125.68%;
    text-align: center;
    color: #0A1D42;
  }

  .target__img {
    height: 52px;
    margin-bottom: 19px;
  }
}
