mixin header()
  header.header
    .wrapper
      a(href="")
        img(src=require('../../assets/logo.svg'), alt="Logo")
      nav.header__navigation
        ul.navigation
          li.navigation__item
            a(href="") Зачем
          li.navigation__item
            a(href="") Кому нужно
          li.navigation__item
            a(href="") Преимущества
          li.navigation__item
            a(href="") Стоимость
          li.navigation__item
            a(href="") Клиенты
      a(href="").header__connect-for-free Подключиться бесплатно