mixin header()
  header.header
    .wrapper
      a(href="")
        img(src=require('../../assets/logo.svg'), alt="Logo")
      nav.header__navigation
        ul.navigation
          li.navigation__item
            a(href="" data-target="js-targets").js-navigation-link Зачем
          li.navigation__item
            a(href="" data-target="js-clients").js-navigation-link Кому нужно
          li.navigation__item
            a(href="" data-target="js-advantages").js-navigation-link Преимущества
          li.navigation__item
            a(href="" data-target="js-price").js-navigation-link Стоимость
          li.navigation__item
            a(href="" data-target="js-our-clients").js-navigation-link Клиенты
      a(href="").header__connect-for-free.js-open-callback-form Подключиться бесплатно