mixin footer()
  footer.footer
    .wrapper
      .footer__phone 
        span Телефон: 
          strong +7 961 763 44 55
      .footer__mail
        span Почта: 
          a(href="mailto:example@mail.ru") example@mail.ru
        
      .footer__copyrights Dostavka.io